{% include 'base.html' %}
<div class="container mt-5">
    <h1>สินค้า</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/th/feature/166481421/th-feature-navy-548736793?$900_N_JPG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galaxy S25 FE</h5>
                    <p class="card-text">ราคาเริ่มต้นที่ ฿29,900.00</p>
                    <p class="card-text">สินค้าในคลังเหลือ 257ชิ้น</p>
                    <a href="#" class="btn btn-primary">สนใจสั่งซื้อ กดตรงติดต่อได้เลยครับ</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/th/sm-s731bdbbthl/gallery/th-galaxy-s25-fe-sm-s731-sm-s731bdbbthl-thumb-548736611?$492_492_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galaxy S25+</h5>
                    <p class="card-text">ราคาเริ่มต้นที่ ฿31,900.00</p>
                    <p class="card-text">สินค้าในคลังเหลือ 102 ชิ้น</p>
                    <a href="#" class="btn btn-primary">สนใจสั่งซื้อ กดตรงติดต่อได้เลยครับ</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/th/2501/gallery/th-galaxy-s25-s938-sm-s938bzbbthl-thumb-544709783?$492_492_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galaxy S25 Ultra</h5>
                    <p class="card-text">ราคาเริ่มต้นที่ ฿40,900.00</p>
                    <p class="card-text">สินค้าในคลังเหลือ 78 ชิ้น</p>
                    <a href="#" class="btn btn-primary">สนใจสั่งซื้อ กดตรงติดต่อได้เลยครับ</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/th/2501/gallery/th-galaxy-s25-s931-534321-sm-s931blgcthl-thumb-544696922?$492_492_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galaxy S25 </h5>
                    <p class="card-text">ราคาเริ่มต้นที่ ฿24,900.00</p>
                    <p class="card-text">สินค้าในคลังเหลือ 210 ชิ้น</p>
                    <a href="#" class="btn btn-primary">สนใจสั่งซื้อ กดตรงติดต่อได้เลยครับ</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/th/2401/gallery/th-galaxy-s24-s928-490283-sm-s928blbqthl-thumb-539391466?$492_492_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galaxy S24 Ultra</h5>
                    <p class="card-text">ราคาเริ่มต้นที่ ฿32,900.00/p>
                     <p class="card-text">สินค้าในคลังเหลือ 277 ชิ้น</p>
                    <a href="#" class="btn btn-primary">สนใจสั่งซื้อ กดตรงติดต่อได้เลยครับ</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/th/2401/gallery/th-galaxy-s24-plus-sm-s926bzvcthl-thumb-539308763?$492_492_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Galaxy S24+</h5>
                    <p class="card-text">ราคาเริ่มต้นที่ 38,900 ฿</p>
                    <p class="card-text">สินค้าในคลังเหลือ 360 ชิ้น</p>
                    <a href="#" class="btn btn-primary">สนใจสั่งซื้อ กดตรงติดต่อได้เลยครับ</a>
                </div>
            </div>
        </div>
    </div>
</div>