{% include 'base.html' %}
<div class="container mt-5">
    <h1>ยินดีต้อนรับเข้าสู่ร้านขายโทรศัพท์ by Sitthinan </h1>
    <p>นี่คือหน้าแรกของร้านขายโทรศัพท์</p>
</div>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.samsung.com/th/smartphones/galaxy-s25-ultra/buy/kv_global_PC_v2.jpg?imbypass=true" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.etsystatic.com/26649320/r/il/3d4baa/4649067621/il_300x300.4649067621_mqss.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://down-th.img.susercontent.com/file/fbd3c0708b13e33be16fe3037d37ebac" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>